@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

@import 'base/fonts';

//mixins
@mixin headings-font($font-size, $line-height){
  font-family: $primary-font;
  font-weight: bold;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin body-font($font-weight){
  font-family: $secondary-font;
  font-weight: $font-weight;
  font-size: 18px;
  line-height: 24px;
}

@mixin buttons(){
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

@mixin input() {
  $input-background-color: #F4F4F5;
  border: 0.5px solid;
  color: #69563A;
}

@mixin breakpoint($point) {
  @if $point == mobile {
    @media (min-width: 375px) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: 836px) { @content; }
  }
  @else if $point == desktop {
    @media (min-width: 1440px) { @content; }
  }
}