// Botões
$btn-color-primary-active: #56b172;
$btn-color-primary-hover: #367147;
$btn-color-primary-focused: #3d8852;
$btn-color-primary-pressed: #76be8c;
$btn-color-primary-disabled: #d3eada;

$btn-color-secundary-active: #70532c;
$btn-color-secundary-hover: #70532c;
$btn-color-secundary-focused: #69563a;
$btn-color-secundary-pressed: #9e753e;
$btn-color-secundary-disabled: #c0965dcc;

$btn-register: #f4f4f4;
