@import '../../../styles/styles';
main {
  display: flex;
  align-items: center;
  height: 100%;
  padding: $padding-ultra-large 0;

  header {
    height: 100%;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 8px 0;

    app-timer-pomodoro {
      width: 100%;
    }
  }
}
