// Botões
$btn-color-primary-active: #56B172;
$btn-color-primary-hover: #367147;
$btn-color-primary-focused: #3D8852;
$btn-color-primary-pressed: #76BE8C;
$btn-color-primary-disabled: #D3EADA;

$btn-color-secundary-active: #70532C;
$btn-color-secundary-hover: #70532C;
$btn-color-secundary-focused: #69563A;
$btn-color-secundary-pressed: #9E753E;
$btn-color-secundary-disabled: #C0965DCC;

$btn-register: #f4f4f4;