<div class="main">
  <div class="hearder">
    <img src="../../../assets/icons/nibller2-logo.svg" alt="logo nillo" />
    <button class="btn-hearder" routerLink="/login">Entrar</button>
  </div>

  <div class="content-welcome">
    <h1>
      Bem-vindo ao seu <br />
      espaço de foco e equilíbrio!
    </h1>
    <img src="../../../assets/imgBg/nilo-home.png" alt="" />
    <h2>
      Organize suas tarefas, monitore suas conquistas e cuide do seu bem-estar. Vamos juntos transformar sua rotina com leveza e
      produtividade.
    </h2>
    <app-button [width]="'306px'" router="/">Começar</app-button>
  </div>
</div>
