@import '../../../../styles/themes/colors';
@import '../../../../styles/base/fonts';

.field {
  position: relative;
  margin: 10px 0;
  input[type='date'] {
    -webkit-appearance: none; /* Remove o estilo padrão do Chrome/Safari */
    -moz-appearance: textfield; /* Remove o estilo padrão do Firefox */
    appearance: none; /* Remove o estilo padrão para navegadores modernos */
  }

  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none; /* Remove o botão de calendário no Chrome/Safari */
  }
}

.field label {
  position: absolute;
  left: 15px;
  transform: translateY(-50%);
  color: $neutral-color-1000;
  padding: 0 5px;
  pointer-events: none;
  transition: all 0.3s ease;
  top: 0;
  max-width: 155px;
  font-size: 15px;
  background-color: $neutral-bg-light;
}

.field input {
  width: 100%;
  max-width: 550px;
  height: 56px;
  font-size: 15px;
  color: $neutral-color-700;
  padding: 0 15px;
  background: transparent;
  border: 1px solid $secondary-color-black;
  outline: none;
  border-radius: 5px;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px $neutral-bg-light inset;
}
