<section>
  <div>
    <span>03/11/2024 - Sexta-feira</span>
  </div>
  <div class="emotion-selector">
    <span>Como você está se sentindo hoje?</span>
    <ul>
      <li>
        <div class="img-content">
          <img src="assets/iconsFeel/icon-feel-happy.png" alt="" />
        </div>
        <span>Feliz</span>
      </li>
      <li>
        <div class="img-content">
          <img src="assets/iconsFeel/icon-feel-good.png" alt="" />
        </div>
        <span>Bem</span>
      </li>
      <li>
        <div class="img-content">
          <img src="assets/iconsFeel/icon-feel-neutral.png" alt="" />
        </div>
        <span>Neutro</span>
      </li>
      <li>
        <div class="img-content">
          <img src="assets/iconsFeel/icon-feel-anxious.png" alt="" />
        </div>
        <span>Ansioso</span>
      </li>
      <li>
        <div class="img-content">
          <img src="assets/iconsFeel/icon-feel-sad.png" alt="" />
        </div>
        <span>Triste</span>
      </li>
      <li>
        <div class="img-content">
          <img src="assets/iconsFeel/icon-feel-horrible.png" alt="" />
        </div>
        <span>Horrivel</span>
      </li>
    </ul>
  </div>
  <div>
    <span>Suas Reflexões do Dia</span>
    <textarea name="" id=""></textarea>
  </div>
</section>
