// Primary Colors
$primary-color-100: #d3eada;
$primary-color-200: #a6d5b4;
$primary-color-300: #76BE8C;
$primary-color-400: #4CA166;
$primary-color-500: #367147;
$primary-alpha-10: #A6D5B41A;
$primary-color-btn: #56B172;

// Secondary Colors
$secondary-color-100: #E8D9C5;
$secondary-color-200: #D2B48C;
$secondary-color-300: #C0965D;
$secondary-color-400: #9E753E;
$secondary-color-500: #70532C;
$secondary-color-nilu: #96653E;
$secondary-color-nilu2: #A06E46;

// Neutral Colors
$neutral-color-100: #F4F2EF;
$neutral-color-200: #E1DCD7;
$neutral-color-300: #CBBFAE;
$neutral-color-400: #B7A68C;
$neutral-color-500: #A58D69;
$neutral-color-600: #89724F;
$neutral-color-700: #69563A;
$neutral-color-800: #201A13;
$neutral-color-900: #1A140D;
$neutral-coor-1000: #020201;
$neutral-bg-light: #FEFEFE;
$neutral-nilor-darkskin: #A06E46;

// Tertiary Colors
$tertiary-color-100: #FFC5B4;
$tertiary-color-200: #FF8C69;
$tertiary-color-300: #FF5926;
$tertiary-color-400: #E23500;
$tertiary-color-500: #9F2500;
$tertiary-color-alpha-10: #FF8C691A;
$tertiary-color-alpha-50: #FF8C6980;
$tertiary-color-salmon: #FFD9CE;
$tertiary-color-pomodoro: #FFEFEA;

// Alternative Background Colors
$bg-color-alternative-1: #D0ECF3;
$bg-color-alternative-2: #A0D9E7;
$bg-color-alternative-3: #66C2D8;
$bg-color-alternative-4: #31A7C3;
$bg-color-alternative-5: #237589;
$bg-color-alternative-alpha-10: #A0D9E71A;
$bg-color-alternative-alpha-30: #A0D9E780;
$bg-color-alternative-pomodoro: #DEF8FF;

// Feedback Colors
$red-color-100: #FB3748;
$red-color-200: #D00416;
$red-color-alpha-10: #FB37481A;

$yellow-color-100: #FFDB43;
$yellow-color-200: #DFB400;
$yellow-color-alpha-10: #FFDB431A;

$green-color-100: #84EBB4;
$green-color-200: #1FC16B;
$green-color-alpha-10: #1FC16B1A;
$green-color-feedback-success: #D8FFEA;
$bg-green-color-pomodoro: #E4FFED;