$padding-small: 8px;
$padding-small-medium: 12px;
$padding-medium: 16px;
$padding-large: 24px;

$border-radius-none: 4px;
$border-radius-small: 8px;
$border-radius-medium: 16px;
$border-radius-large: 24px;