<section class="container">
  <div class="comentario">
    <img src="img/balão (1).png" alt="" />
    <img src="assets/iconsPopup/nilo-perfil-happy.png" alt="" />
  </div>

  <div class="itens-pausa">
    <button class="button-card">
      <div class="card-pausa">
        <img src="assets/iconsImgListPause/nilo-stretching.png" alt="" />
        <h1>Vamos nos alongar?</h1>
      </div>
    </button>

    <button class="button-card">
      <div class="card-pausa">
        <img src="assets/iconsImgListPause/nilo-breathing.png" alt="" />
        <h1>Vamos respirar?</h1>
      </div>
    </button>

    <button class="button-card">
      <div class="card-pausa">
        <img src="assets/iconsImgListPause/nilo-drink-water.png" alt="" />
        <h1>Vamos nos hidratar?</h1>
      </div>
    </button>
  </div>
  <app-button>Confirmar</app-button>
</section>
