<section class="container">
  <div class="nilo-speech-bubble">
    <app-speech-bubble
      >Ótima escolha! É importante cuidar de você enquanto se mantém produtivo. Escolha uma atividade de autocuidado para
      recarregar as energias e se preparar para a próxima rodada. Vamos nessa?</app-speech-bubble
    >
    <img src="assets/iconsPopup/nilo-perfil-happy.png" alt="Imagem de perfil do mascote esquilo Nilo sorrindo." />
  </div>

  <div class="pause-items">
    <button class="button-card">
      <div class="card-pausa">
        <img src="assets/iconsImgListPause/nilo-stretching.png" alt="Imagem do mascote esquilo alongando." />
        <h1>Vamos nos alongar?</h1>
      </div>
    </button>

    <button class="button-card">
      <div class="card-pausa">
        <img
          src="assets/iconsImgListPause/nilo-breathing.png"
          alt="Imagem do mascote esquilo respirando em posição meditativa." />
        <h1>Vamos respirar?</h1>
      </div>
    </button>

    <button class="button-card">
      <div class="card-pausa">
        <img src="assets/iconsImgListPause/nilo-drink-water.png" alt="Imagem do mascote esquilo com um copo d'água." />
        <h1>Vamos nos hidratar?</h1>
      </div>
    </button>
  </div>
  <app-button>Começar</app-button>
</section>
