* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f4f4f4;
}

button {
  cursor: pointer;
  border: none;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}